<div class="registration-background">
  <form class="registration-form wrapper" ng-submit="vm.registration()">
    <h1 class="reg__title">Enter your email</h1>
    <input type="text" class="reg__email input__block" ng-model="vm.reg_email" placeholder="Email">
    <h1 class="reg__title">Enter your name</h1>
    <input type="text" class="reg__name input__block" ng-model="vm.reg_name" placeholder="Name">
    <h1 class="reg__title">Enter your surname</h1>
    <input type="text" class="reg__name input__block" ng-model="vm.reg_surname" placeholder="Name">
    <h1 class="reg__title">Enter your password</h1>
    <input type="password"class="reg__password input__block" ng-model="vm.reg_password" placeholder="password">
    <input type="submit" class="reg__button" value="log in">
  </form>
</div>
